@using DomLibrary;

@using SchoolBones
@model TeacherSalary[]
@{
    string tBodyId = "";
    TeacherSalary[] arrTeacherSalary = null;

    arrTeacherSalary = Model;
    tBodyId = "tblDefineSalary";
}

<div class="row">
    <table class="ReportTable">
        <thead>
            <tr>
                @*<th>
                        <input class="form-check-input" type="checkbox" id="chkSelectAll" onclick="COMMONMETHODS.ShowToastAsAlert('Not implemented')">
                    </th>*@
                <th>#</th>
                <th>Registration Id</th>
                <th>Name</th>
                <th>Monthly Salary</th>
            </tr>
        </thead>
        <tbody id="@tBodyId">
            @{
                if (arrTeacherSalary != null)
                {
                    for (int iRow = 0; iRow < arrTeacherSalary.Length; iRow++)
                    {
                        <tr id="@arrTeacherSalary[iRow].SalaryId" data-regid="@arrTeacherSalary[iRow].RegId" onclick="COMMONMETHODS.SelectRow(this, '@tBodyId')">
                            @*<td>
                                    <input class="form-check-input" type="checkbox" id="">
                                </td>*@
                            <th>@(iRow + 1)</th>
                            <td>@arrTeacherSalary[iRow].RegId</td>
                            <td>@arrTeacherSalary[iRow].Name</td>
                            <td>
                                <input type="text" id="Salary_@iRow" value="@arrTeacherSalary[iRow].MonthlySalary" />
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>


<script>
    arrTeacherSalary = @Html.Raw(Json.Encode(arrTeacherSalary));
</script>