@using SchoolBones
@using DomLibrary;

@using DomLibrary;

@model Menu[]
@{
    int indMenu = 0;
    IdValuePair objData = null;
    Menu[] arrMenu = null;
    Menu[] arrMenuModules = null;

    arrMenu = Model;
    objData = new IdValuePair();
    arrMenuModules = arrMenu.Where(a => a.IsGroup == true).ToArray();
}

@{ 
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div class="container-fluid" style="background-color: #e5dcdc; height: 92vh; position: fixed; overflow:auto" id="">
    @Html.Partial("_ToastAsAlert")
    <div id="dvPopupContainer"></div>

    <div class="row">
        <nav>
            <div class="nav nav-tabs" id="MenuTabs" role="tablist">
                @{
                    if (arrMenuModules != null)
                    {
                        for (indMenu = 0; indMenu < arrMenuModules.Length; indMenu++)
                        {
                            string sMenuName = arrMenuModules[indMenu].MenuName;
                            <button class="nav-link @(indMenu == 0 ? "active":"")" id="nav-@sMenuName-tab" data-bs-toggle="tab" data-bs-target="#nav-@sMenuName" type="button" role="tab" aria-controls="nav-@sMenuName" data-module="@arrMenuModules[indMenu].Module" data-modulename="@arrMenuModules[indMenu].MenuName" aria-selected="true">
                                @arrMenuModules[indMenu].MenuName
                            </button>
                        }
                    }
                }
            </div>
        </nav>
    </div>

    <div class="row">
        <div class="tab-content" id="nav-tabContent">
            @{
                if (arrMenuModules != null)
                {
                    for (indMenu = 0; indMenu < arrMenuModules.Length; indMenu++)
                    {
                        string sMenuName = arrMenuModules[indMenu].MenuName;
                        objData.Id = arrMenuModules[indMenu].Module;

                        <div class="tab-pane fade show @(indMenu == 0? "active":"")" id="nav-@sMenuName" role="tabpanel" aria-labelledby="nav-@sMenuName-tab">
                            @switch ((Modules)arrMenuModules[indMenu].Module)
                            {
                                case Modules.Developer:
                                    objData.Value = arrMenu.Where(a => a.Module == (int)Modules.Developer || a.SubModule == (int)Modules.Developer).ToArray();
                                    break;
                                case Modules.Admin:
                                    objData.Value = arrMenu.Where(a => a.Module == (int)Modules.Admin || a.SubModule == (int)Modules.Admin).ToArray();
                                    break;
                                case Modules.Teacher:
                                    objData.Value = arrMenu.Where(a => a.Module == (int)Modules.Teacher || a.SubModule == (int)Modules.Teacher).ToArray();
                                    break;
                                case Modules.Account:
                                    objData.Value = arrMenu.Where(a => a.Module == (int)Modules.Account || a.SubModule == (int)Modules.Account).ToArray();
                                    break;
                                case Modules.Student:
                                    objData.Value = arrMenu.Where(a => a.Module == (int)Modules.Student || a.SubModule == (int)Modules.Student).ToArray();
                                    break;
                                case Modules.Admission:
                                    objData.Value = arrMenu.Where(a => a.Module == (int)Modules.Admission || a.SubModule == (int)Modules.Admission).ToArray();
                                    break;
                            }
                            @Html.Partial("_SubDashboard", objData)
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>


@*<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
</div>*@