@using DomLibrary

@model TimeTableLayout[]
@{ 
    string tBodyId = "";
    TimeTableLayout oTimeTableLayout = null;
    TimeTableLayout[] arrTimeTableLayout = null;

    arrTimeTableLayout = Model;
    tBodyId = "tblTimeTableLayouts";
}
<table class="ReportTable">
    <thead>
        <tr>
            <th>LayoutId</th>
            <th>LayoutName</th>
            <th>Class</th>
            <th>FirstPeriod</th>
            <th>NoOfPeriod</th>
            <th>Duration</th>
            <th>LunchBreak</th>
            <th>CreatedDate</th>
        </tr>
    </thead>
 
    <tbody id="@tBodyId">
        @{
            if (arrTimeTableLayout != null)
            {
                for (int iRow = 0; iRow < arrTimeTableLayout.Length; iRow++)
                {
                    oTimeTableLayout = arrTimeTableLayout[iRow];
                    if (oTimeTableLayout != null)
                    {
                        <tr id="@oTimeTableLayout.iLayoutId" onclick="@oTimeTableLayout.iLayoutId > 0 ? COMMONMETHODS.SelectRow(this, '@tBodyId'):''">
                            <td>@oTimeTableLayout.iLayoutId</td>
                            <td>@oTimeTableLayout.LayoutName</td>
                            <td>@oTimeTableLayout.Class</td>
                            <td>@TimeDS.IntToTime(@oTimeTableLayout.FirstPeriod)</td>
                            <td>@oTimeTableLayout.NoOfPeriod</td>
                            <td>@TimeDS.IntToTime(@oTimeTableLayout.Duration)</td>
                            <td>@oTimeTableLayout.LunchBreak</td>
                            <td>@oTimeTableLayout.CreatedDate</td>
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>