@*@using SchoolBones


@model List<IdValuePair>
@{ 
    List<IdValuePair> lstData = Model;
    IdNamePair[] arrSubjects = (IdNamePair[])lstData[0].Value;
    IdValuePair[] arrMarks = (IdValuePair[])lstData[1].Value;

    List<int> arrColMarks = null;
}*@

@using SchoolBones
@using SchoolBones.Enums

<div class="row">
    @Html.Partial("_HeaderNavigation", new DoubleInt(Id: (int)Modules.Teacher, Value: (int)SubModule.DisplayMarksheet))

    <div class="row">
        <div class="form-group">
            <label class="control-label">Enter roll no</label>
            <input id="txtRno" type="text" class="form-control" />
        </div>
        <input class="btn btn-primary" type="button" value="Save" onclick="ShowMarksheet()">
    </div>
    <div class="row">
        <div id="dvDisplayMarksheet"></div>
    </div>
    @*<div class="row" id="dvDisplayMarksheet">
        <table class="ReportTable table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Subjects</th>

                    <th>Test</th>
                    <th>Half-yearly</th>
                    <th>Annual</th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (arrSubjects != null)
                    {
                        for (int iSub = 0; iSub < arrSubjects.Length; iSub++)
                        {
            <tr>
                <th>@(iSub + 1)</th>
                <th>@arrSubjects[iSub].Name</th>

                @for (int iGroup = 0; iGroup < arrMarks.Length; iGroup++)
                                {
                                    arrColMarks = (List<int>)arrMarks[iGroup].Value;
                                    if (arrColMarks != null && arrColMarks.Count > 0)
                                    {
                                <td class="">@arrColMarks[iSub]</td>
                                    }
                                }
            </tr>
                            }
                        }
                }
                <tr>
                    <th colspan="2" class="text-center">Total</th>
                    @{
                    for (int iGroup = 0; iGroup < arrMarks.Length; iGroup++)
                    {
                        int iIndexOfTotal = 0;
                        arrColMarks = (List<int>)arrMarks[iGroup].Value;
                        iIndexOfTotal = arrColMarks.Count - 1;
                <th>@arrColMarks[iIndexOfTotal]</th>
                    }
                    }
                </tr>
            </tbody>


        </table>
    </div>*@
</div>

<div class="row" style="display:none">
    @*Inputs*@
    <div class="row">
        <div style="border: groove;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Enrollment No
            </label>
            <div>
                <input id="register_number"
                       oninput="this.value=this.value.slice(0,this.maxLength)"
                       type="number" required name="mobile_number" maxlength="9">
            </div>
        </div>

        <div style="border: groove;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
                Roll No
            </label>
            <div>
                <input id="register_number"
                       oninput="this.value=this.value.slice(0,this.maxLength)"
                       type="number" required name="mobile_number" maxlength="9">

                <label for="register_number">Class : </label>
                <input id="register_number"
                       oninput="this.value=this.value.slice(0,this.maxLength)"
                       type="number" required name="mobile_number" maxlength="9">

                <label for="register_number">Year : </label>
                <input id="register_number"
                       oninput="this.value=this.value.slice(0,this.maxLength)"
                       type="number" required name="mobile_number" maxlength="9">
            </div>
        </div>
        <div class="row" style="text-align:center">
            <button class="btn-outline-primary" id="submit" type="submit">Display Marksheet</button>
            <input class="btn-outline-secondary" type="submit" onclick="PrintMarksheet()" value="Print">
        </div>
    </div>


    <div id="dvMarksheet">
        <div class="row">
            <table class="ReportTable">
                <tr>
                    <th id="t"> Register Number </th>
                    <td> 211704018 </td>
                </tr>
                <tr>
                    <th id="t"> Name </th>
                    <td> DINESH P </td>
                </tr>
                <tr>
                    <th id="t"> Date Of Birth </th>
                    <td> 29/01/2000 </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <table class="ReportTable table-hover table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Subjects</th>
                        <th>Half-Yearly</th>
                        <th>Half-Yearly</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <th>Physics</th>
                        <td>25</td>
                        <td>30</td>
                        <td>55</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <th>Chemistry</th>
                        <td>20</td>
                        <td>30</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <th>Mathematics</th>
                        <td>30</td>
                        <td>30</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="text-center">Total</th>
                        <th>75</th>
                        <th>90</th>
                        <td>165</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-3">
                <span>
                    <b>Prepared by</b>
                </span>
            </div>
            <div class="col-md-3">
                <span>
                    <b>Checked by</b>
                </span>
            </div>
            <div class="col-md-3">
                <span>
                    <b>Principle</b>
                </span>
            </div>
            <div class="col-md-3">
                <span>
                    <b>Parents/Guardian</b>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
    function PrintMarksheet() {
            var divContents = document.getElementById("dvMarksheet").innerHTML;
            var a = window.open('', '', 'height=500, width=500');
            a.document.write('<html>');
            a.document.write('<body > <h1>Div contents are <br>');
            a.document.write(divContents);
            a.document.write('</body></html>');
            a.document.close();
            a.print();
    }

    function ShowMarksheet() {
        debugger
        var iStdId = -1;
        var txtRollNo = parseInt(document.getElementById("txtRno").value);

        iStdId = txtRollNo;
        //document.getElementById("dvDisplayMarksheet").style.display = "";
        var url = "@Url.Action("DisplayMarksheet", "Teacher")";
        $.ajax({
            url: url,
            cache: false,
            type: "Get",
            dataType: "html",
            data: {
                iStdId: iStdId
            },
            success: function (data) {
                debugger
                document.getElementById("dvDisplayMarksheet").innerHTML = data;
            }
        });
    }
</script>
