@using SchoolBones
@using DomLibrary;
@using SchoolBones.Enums
@using SchoolBones.Common

@model IdValuePair
@{
    bool bActive = false;
    TeacherDetails[] arrTeacherDetails = null;
    IdValuePair oData = null;

    oData = Model;
    if (oData != null)
    {
        bActive = oData.Id > 0;
        arrTeacherDetails = (TeacherDetails[])oData.Value;
    }
}

<div class="row">
    <div class="row">
        @{
            if (bActive)
            {
                @Html.Partial("_HeaderNavigation", new DoubleInt(Id: (int)Modules.Admin, Value: (int)SubModule.ActiveTeachers))
            }
            else
            {
                @Html.Partial("_HeaderNavigation", new DoubleInt(Id: (int)Modules.Admin, Value: (int)SubModule.InActiveTeachers))
            }
        }
    </div>

    <div class="row" style="overflow:auto;">
        <table class="ReportTable">
            <thead>
                <tr>
                    @*<th>
                            <input class="form-check-input" type="checkbox" id="chkSelectAll" onclick="ADMINCOMMONJS.SelectAll(this)">
                        </th>*@
                    <th>Registration Id</th>
                    <th>Name</th>
                    <th>Mobile</th>
                    <th>Qualification</th>
                    <th>JoiningDate</th>
                    <th>Experiance</th>
                </tr>
            </thead>
            <tbody id="tblActDeActTeachers"></tbody>
        </table>
    </div>
</div>

<script>
    var bActive = @Html.Raw(Json.Encode(bActive));
    lstTeacherData = lstAllTeacherData = @Html.Raw(Json.Encode(arrTeacherDetails));

    $(document).ready(function () {
        debugger;
        if(bActive == true){
            iSubModule = @Html.Raw(Json.Encode(SubModule.ActiveTeachers));
        }else{
            iSubModule = @Html.Raw(Json.Encode(SubModule.InActiveTeachers));
        }
        ADMIN.SetTeacherDetail(lstTeacherData, 'tblActDeActTeachers');
    });
</script>