@using SchoolBones
@using DomLibrary;
@using SchoolBones.Enums
@using SchoolBones.Common

@model TeachersAttendance
@{ 
    int iDaysInMonth = 0;
    bool bPresent = false;
    DateDS oDateDS = null;
    TeachersAttendance oTeachersAttendance = null;
    Inputs objInputs = null;
    IdNamePair[] arrTeachers = null;
    Attendance[] arrAttendance = null;

    oDateDS = new DateDS();
    oTeachersAttendance = Model;
    objInputs = oTeachersAttendance.Inputs;
    arrTeachers = oTeachersAttendance.Teachers;
    arrAttendance = oTeachersAttendance.Attendance;

    iDaysInMonth = DateTime.DaysInMonth(objInputs.Year, objInputs.Month);
}


<div class="row">
    @Html.Partial("_HeaderNavigation", new DoubleInt(Id: (int)Modules.Admin, Value: (int)SubModule.LoadTeacherAttendanceInputs))

    <div class="row">
        <div class="col-md-3">
            <label class="control-label">Month : <b>@objInputs.Month</b></label>
        </div>
        <div class="col-3">
            <label class="control-label">Year : <b>@objInputs.Year</b></label>
        </div>
        <div class="col-3"></div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div style="overflow: auto;width: auto;display:flex">
            <table class="ReportTable" id="" style="left:0px;position:sticky;z-index:1;background-color:white">
                <thead>
                    <tr>
                        <th>Roll No</th>
                        <th>Teacher Name</th>
                    </tr>
                </thead>
                <tbody id="">
                    @{
                        if (arrTeachers != null)
                        {
                            for (int iRow = 0; iRow < arrTeachers.Length; iRow++)
                            {
                                <tr id="@arrTeachers[iRow].ID">
                                    <td>@arrTeachers[iRow].ID</td>
                                    <td>@arrTeachers[iRow].Name</td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
            <table class="ReportTable">
                <thead>
                    <tr>
                        @{
                            for (int iDays = 1; iDays <= iDaysInMonth; iDays++)
                            {
                                <th>Date : @iDays</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody id="">
                    @{
                        if (arrTeachers != null)
                        {
                            for (int iRow = 0; iRow < arrTeachers.Length; iRow++) //Will define no of Rows
                            {
                                int iTeacherId = arrTeachers[iRow].ID;
                                <tr>
                                    @for (int iDays = 1; iDays <= iDaysInMonth; iDays++) //will define no of Cols
                                    {
                                        bPresent = false;
                                        for (int iAtnd = 0; iAtnd < arrAttendance.Length; iAtnd++)
                                        {
                                            DateTime dtDay = DateDS.IntToDate(arrAttendance[iAtnd].Date, 1);
                                            if (iTeacherId == arrAttendance[iAtnd].TeacherId && arrAttendance[iAtnd].Status == 1 && dtDay.Day == iDays)
                                            {
                                                bPresent = true;
                                                break;
                                            }
                                        }

                                        if (bPresent)
                                        {
                                            <td style="background:green">
                                                P
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="background:red">
                                                A
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>