@using SchoolBones
@using DomLibrary;
@using SchoolBones.Enums
@using SchoolBones.Common

@model IdValuePair

@{
    string sPopupId = "popup";
    string popupTitle = "";
    IdValuePair popupData = null;
    AdmissionDetails oAdmissionDetails = null;
    Subject oSubject = null;
    List<StudentAttendance> lstStudent = null;

    TeacherDetails[] lstTeacher = null;
    TeacherDetails oTeacherDetails = null;
    FeesStructure oFeesStructure = null;
    int iFeeStructureId = 0;


    popupData = Model;

    if (popupData != null)
    {
        if (popupData.Id == (int)PopupName.SaveFeeStructure)
        {
            sPopupId += (PopupName)popupData.Id;
            popupTitle = "Save Fee Structure";
            oFeesStructure = (FeesStructure)popupData.Value;
        }
        else if (popupData.Id == (int)PopupName.DeleteFeeStructure)
        {
            sPopupId += (PopupName)popupData.Id;
            popupTitle = "Save Fee Structure";
            iFeeStructureId = (int)popupData.Value;
        }
        else if (popupData.Id == (int)PopupName.UpdateFeeStructure)
        {
            sPopupId += (PopupName)popupData.Id;
            popupTitle = "Update Fee Structure";
            oFeesStructure = (FeesStructure)popupData.Value;
        }
        else if (popupData.Id == (int)PopupName.EditTeacherDetails)
        {
            sPopupId += (PopupName)popupData.Id;
            popupTitle = "Edit Teacher Details";
            oTeacherDetails = (TeacherDetails)popupData.Value;
        }
        else if (popupData.Id == (int)PopupName.TakeTeacherAttendance)
        {
            sPopupId += (PopupName)popupData.Id;
            popupTitle = "Take Teacher Attendance";
            lstTeacher = (TeacherDetails[])popupData.Value;
        }

        if (popupData.Id == (int)PopupName.EditStudent)
        {
            sPopupId += (PopupName)popupData.Id;
            popupTitle = "Edit Student";
            oAdmissionDetails = (AdmissionDetails)popupData.Value;
        }
        else if (popupData.Id == (int)PopupName.AddSubject)
        {
            sPopupId += (PopupName)popupData.Id;
            popupTitle = "Add Subject";
            oSubject = (Subject)popupData.Value;
        }
        else if (popupData.Id == (int)PopupName.TakeStudentAttendance)
        {
            sPopupId += (PopupName)popupData.Id;
            popupTitle = "Take Student Attendance";
            lstStudent = (List<StudentAttendance>)popupData.Value;
        }
    }
}


<div class="modal fade right" id="@sPopupId" data-bs-backdrop="static" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@popupTitle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form>
                    @{
                        //Admin
                        {
                            if (popupData.Id == (int)PopupName.DeleteFeeStructure)
                            {
                            <input type="hidden" id="hdnFeeStructureId" value="@iFeeStructureId" />
                            <span>Do you want to delete the record?</span>
                            }
                            else if (popupData.Id == (int)PopupName.SaveFeeStructure || popupData.Id == (int)PopupName.UpdateFeeStructure)
                            {
                            <div class="form-group">
                                <label class="control-label">Fee Structure Id</label>
                                <input id="txtFeeStructureId" type="text" class="form-control" value="@(oFeesStructure == null ? 0 : oFeesStructure.FeeStructureId)" readonly />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Class</label>
                                <input id="txtClass" type="text" class="form-control" value="@(oFeesStructure == null ? 0 : oFeesStructure.Class)" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Year</label>
                                <input id="txtYear" type="text" class="form-control" value="@(oFeesStructure == null ? 0 : oFeesStructure.Year)" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Monthly Fee</label>
                                <input id="txtMonthlyFee" type="text" class="form-control" value="@(oFeesStructure == null ? 0 : oFeesStructure.MonthlyFee)" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Yearly Fee</label>
                                <input id="txtYearlyFee" type="text" class="form-control" value="@(oFeesStructure == null ? 0 : oFeesStructure.YearlyFee)" />
                            </div>
                            }


                            if (popupData.Id == (int)PopupName.EditTeacherDetails)
                            {
                            <div class="form-group" style="display:none">
                                <label class="control-label">Mobile</label>
                                <input id="txtRegistrationId" type="text" class="form-control" value="@oTeacherDetails.RegistrationId" readonly />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Mobile</label>
                                <input id="txtMobile" type="text" class="form-control" value="@oTeacherDetails.Mobile" />
                            </div>

                            @*<div class="form-group">
                                <label class="control-label">Email</label>
                                <input id="txtEmail" type="text" class="form-control" value="@oTeacherDetails.Email" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input id="txtPassword" type="text" class="form-control" value="@oTeacherDetails.Password" readonly />
                            </div>

                            <div class="form-group">
                                <label class="control-label">Teacher Name</label>
                                <input id="txtName" type="text" class="form-control" value="@oTeacherDetails.Name" />
                            </div>*@

                            <div class="form-group">
                                <label class="control-label">Qualification</label>
                                <input id="txtQualification" type="text" class="form-control" value="@oTeacherDetails.Qualification" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">JoiningDate</label>
                                <input id="txtJoinDate" type="text" class="form-control" value="@oTeacherDetails.JoiningDate" />
                            </div>

                            @*<div class="form-group">
                                <label class="control-label">Package</label>
                                <input id="txtPackage" type="number" class="form-control" value="@oTeacherDetails.Package" />
                            </div>*@


                            <div class="form-group">
                                <label class="control-label">Experiance</label>
                                <input id="txtExp" type="text" class="form-control" value="@oTeacherDetails.Experiance" />
                            </div>
                            }
                            if (popupData.Id == (int)PopupName.TakeTeacherAttendance)
                            {
                            <div class="row">
                                <label id="lblDateOfAttendance"></label>
                            </div>
                            <hr />
                            <table class="ReportTable">
                                <thead>
                                    <tr>
                                        <th>Registration Id</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="">
                                    @{
                                        if (lstTeacher != null && lstTeacher.Length > 0)
                                        {
                                            for (int iTch = 0; iTch < lstTeacher.Length; iTch++)
                                            {
                                                <tr>
                                                    <td>@lstTeacher[iTch].RegistrationId</td>
                                                    <td>@lstTeacher[iTch].Name</td>
                                                    <td>
                                                        <input type="checkbox" onclick= "ATTENDANCE.AttendanceOfTeachers(this)" id="@lstTeacher[iTch].RegistrationId" />
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    <tr></tr>
                                </tbody>
                            </table>
                                            }
                                        }
                                        //Teacher
                                        {
                                            if (popupData.Id == (int)PopupName.EditStudent)
                                            {
                                             <div class="mb-3">
                                                 <img src="~/Image/QR.png" />
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Enrollment No</label>
                                <input id="txtEnrollmentNo" type="text" class="form-control" value="@oAdmissionDetails.RegistrationId" readonly>
                            </div>

                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Name:</label>
                                <input id="txtStdName" type="text" class="form-control" value="@oAdmissionDetails.StdName">
                            </div>

                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Address</label>
                                <input id="txtAddress" type="text" class="form-control" value="@oAdmissionDetails.Address">
                            </div>

                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">City</label>
                                <input id="txtCity" type="text" class="form-control" value="@oAdmissionDetails.City">
                            </div>

                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Contact</label>
                                <input id="txtContact" type="text" class="form-control" value="@oAdmissionDetails.Contact">
                            </div>

                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">AdmissionInClass</label>
                                <input id="txtAdmissionInClass" type="text" class="form-control" value="@oAdmissionDetails.AdmissionInClass">
                            </div>

                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">DOB</label>
                                <input id="txtDOB" type="text" class="form-control" value="@oAdmissionDetails.DOB">
                            </div>

                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Admission Date</label>
                                @*<input id="txtAdmissionDate" type="text" class="form-control" value="@oAdmissionDetails.AdmissionDate">*@
                                <input id="txtAdmissionDate" type="date" class="form-control" placeholder="yyyy-mm-dd" min="2023-01-01" max="2023-12-31" value="@oAdmissionDetails.AdmissionDate" />
                            </div>

                            <div class="mb-3">
                                <label class="form-check-label" for="flexCheckChecked">
                                    <input class="form-check-input" type="checkbox" value="" id="chkIsActive" checked="@oAdmissionDetails.IsActive">
                                    Active
                                </label>
                            </div>
                                            }
                                            else if (popupData.Id == (int)PopupName.AddSubject)
                                            {
                            <input type="hidden" id="hdnClass" value="@oSubject.Class" />
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Subject Name</label>
                                <input id="txtSubjectName" type="text" class="form-control" value="@oSubject.SubjectName">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Max Mark</label>
                                <input id="txtMaxMark" type="text" class="form-control" value="@oSubject.MaximumMarks">
                            </div>
                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="chkIsDefaultSubject">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        DefaultSubject
                                    </label>
                                </div>
                            </div>
                                            }
                                            else if (popupData.Id == (int)PopupName.TakeStudentAttendance)
                                            {
                            <div class="row">
                                <label id="lblDateOfAttendance"></label>
                            </div>
                            <hr />
                            <table class="ReportTable">
                                <thead>
                                    <tr>
                                        <th>Roll no</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody id="">
                                    @{
                                        if (lstStudent != null && lstStudent.Count > 0)
                                        {
                                            for (int iStd = 0; iStd < lstStudent.Count; iStd++)
                                            {
                                                <tr>
                                                    <td>@lstStudent[iStd].StdId</td>
                                                    <td>@lstStudent[iStd].StdName</td>
                                                    <td>
                                                        <input type="checkbox" onclick="ATTENDANCE.AttendanceOfStudents(this)" id="@lstStudent[iStd].StdId" />
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    <tr></tr>
                                </tbody>
                            </table>
                                                }
                                            }
                                        }
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="COMMONMETHODS.Close(@sPopupId)">Close</button>
                @{
                    //Admin
                    if (popupData.Id == (int)PopupName.DeleteFeeStructure)
                    {
                        <input type="button" class="btn btn-primary" value="Yes" onclick="DeleteFeesStructure(@iFeeStructureId)" data-bs-dismiss="modal"/>
                    }
                    else if (popupData.Id == (int)PopupName.SaveFeeStructure)
                    {
                        <input type="button" class="btn btn-primary" value="SaveFeeStructure" onclick="SaveUpdateFeesStructure()" />
                    }
                    else if (popupData.Id == (int)PopupName.UpdateFeeStructure)
                    {
                        <input type="button" class="btn btn-primary" value="UpdateFeeStructure" onclick="SaveUpdateFeesStructure()" />
                    }
                    else if (popupData.Id == (int)PopupName.EditTeacherDetails)
                    {
                        <button type="button" class="btn btn-primary" onclick="SaveEditTeacher()">Save</button>
                    }
                    else if (popupData.Id == (int)PopupName.TakeTeacherAttendance)
                    {
                        <button type="button" class="btn btn-primary" onclick="ATTENDANCE.SaveTeacherAttendance()">Save</button>
                    }

                    if (popupData.Id == (int)PopupName.EditStudent)
                    {
                        <button type="button" class="btn btn-primary" onclick="ADMISSION.UpdateStudent()">Update</button>
                    }
                    else if (popupData.Id == (int)PopupName.AddSubject)
                    {
                        if (oSubject.SubjectId > 0)
                        {
                            <button type="button" class="btn btn-primary" onclick="MARKSHEET.UpdateSubject(@oSubject.SubjectId, @((int)CRUD.Update))">Update</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary" onclick="MARKSHEET.SaveSubject()">Save</button>
                        }
                    }
                    else if (popupData.Id == (int)PopupName.TakeStudentAttendance)
                    {
                        <button type="button" class="btn btn-primary" onclick="ATTENDANCE.SaveStudentAttendance()">Save</button>
                    }
                }
            </div>
        </div>
    </div>
</div>

<script>
    var lstAttendance = [];
    $(document).ready(function(){
        if(document.getElementById("dtAttendaneDate") != null){
            document.getElementById("lblDateOfAttendance").innerText = "Date of Attendance : "+ document.getElementById("dtAttendaneDate").value;
        }
    });

    var oSubject = @Html.Raw(Json.Encode(oSubject));
    var lstStudent = @Html.Raw(Json.Encode(lstStudent));

    var lstTeacher = @Html.Raw(Json.Encode(lstTeacher));
    


    

    //function SelectRowFeeStructure(eleTr, tbodyId){
    //    debugger;
    //    iFeeStructureId = parseInt(eleTr.id);
    //    RIBBONCONTROLTEACHER.ResetRowColor(tbodyId);
    //    eleTr.className = 'SelectRow';
    //}

    function SaveUpdateFeesStructure(){
        debugger;
        var oFeeStruct = {};
        oFeeStruct = GetFeeStructValues()
        var url = "@Url.Action("SaveUpdateFeesStructure", "Accounts")";

        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            dataType: "json",
            data: {
                oFeesStructure: oFeeStruct
            },
            success: function (data) {
                COMMONMETHODS.SaveStatus(true, data);
            }
        });
    }
    function DeleteFeesStructure(iFeeStructureId){
        var url = "@Url.Action("DeleteFeesStructure", "Accounts")";

        $.ajax({
            url: url,
            cache: false,
            type: "POST",
            dataType: "json",
            data: {
                iFeeStructureId: iFeeStructureId
            },
            success: function (data) {
                COMMONMETHODS.SaveStatus(true, data);
            }
        });
    }

    function GetFeeStructValues(){
        debugger;
        var oFeeStruct = {};
        var txtFeeStructureId = document.getElementById("txtFeeStructureId");
        var txtClass = document.getElementById("txtClass");
        var txtYear = document.getElementById("txtYear");
        var txtMonthlyFee = document.getElementById("txtMonthlyFee");
        var txtYearlyFee = document.getElementById("txtYearlyFee");

        oFeeStruct.FeeStructureId =parseInt(txtFeeStructureId.value);
        oFeeStruct.Class =parseInt(txtClass.value);
        oFeeStruct.Year =parseInt(txtYear.value);
        oFeeStruct.MonthlyFee =parseInt(txtMonthlyFee.value);
        oFeeStruct.YearlyFee =parseInt(txtYearlyFee.value);
        //oFeeStruct.Date =0;
        //oFeeStruct.Inputs ={};
        return oFeeStruct;
    }
   


   

    

   
    
    //Attendance of Std
   
</script>